<h1 class="text-3xl mb-4 text-center">DBZ Personajes</h1>
<!-- <span>Cap 61</span> -->
<hr />

<section class="grid grid-cols-1 gap-4 md:grid-cols-2 p-2">
  <article>
    <h2 class="font-semibold text-xl text-center">Listado</h2>
    <ul class="mt-4 max-w-[400px] m-auto">
      <li class="border-gray-500 border px-3 py-1 mt-[-1px]">Krilin - 500</li>
      <li class="border-gray-500 border px-3 py-1 mt-[-1px]">Goku - 1000</li>
    </ul>
  </article>

  <article class="">
    <h2 class="font-semibold text-xl text-center">Agregar Personaje</h2>
    <form class="flex gap-2 flex-wrap flex-col p-2 max-w-[400px] m-auto">
      <input
        type="text"
        placeholder="Nombre"
        class="border rounded-md border-gray-500 px-2 py-1"
      />
      <input
        type="text"
        placeholder="Poder"
        class="border rounded-md border-gray-500 px-2 py-1"
      />

      <button class="p-2 bg-blue-600 text-white rounded-md">Agregar</button>
    </form>
  </article>
</section>
