<section class="p-1">
  <h2 class="text-3xl font-semibold">Países</h2>
  <hr />
  <ul class="mt-4">
    <!-- <li
      class="p-2 border border-gray-300 mt-[-1px] cursor-pointer hover:opacity-80"
      routerLink=""
      routerLinkActive="bg-blue-500 text-white"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home Page
    </li>
    <li
      class="p-2 border border-gray-300 mt-[-1px] cursor-pointer hover:opacity-80"
      routerLink="about"
      routerLinkActive="bg-blue-500 text-white"
    >
      About Page
    </li>
    <li
      class="p-2 border border-gray-300 mt-[-1px] cursor-pointer hover:opacity-80"
      routerLink="contact"
      routerLinkActive="bg-blue-500 text-white"
    >
      Contact Page
    </li> -->

    <li
      *ngFor="let item of navbarList"
      class="p-2 border border-gray-300 mt-[-1px] cursor-pointer hover:opacity-80"
      [routerLink]="item.url"
      routerLinkActive="bg-blue-500 text-white"
    >
      {{ item.name }}
    </li>
  </ul>
</section>
