<div
  class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-200 text-center"
  *ngIf="countries.length === 0; else table"
>
  <span class="font-medium">No hay paises que mostrar</span>
</div>

<lib-toastify-toast-container [autoClose]="2000"></lib-toastify-toast-container>

<ng-template #table>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="table-auto w-full text-sm text-left rtl:text-right text-gray-500 rounded-lg"
    >
      <thead class="uppercase bg-slate-700 py-4 text-white rounded">
        <tr>
          <th class="px-6 py-3">#</th>
          <th class="px-6 py-3">Capital</th>
          <th class="px-6 py-4">Bandera</th>
          <th class="px-6 py-4">País</th>
          <th class="px-6 py-4">Poblacion</th>
          <th class="px-6 py-4"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let country of countries; let i = index"
          class="odd:bg-white even:bg-slate-200"
        >
          <th class="px-6 py-4">
            {{ i + 1 }}
          </th>
          <th class="px-6 py-4">{{ country.capital }}</th>
          <th class="px-6 py-4">
            <img
              [src]="country.flags.svg"
              [alt]="country.flags.alt || 'flag'"
              class="w-[35px]"
            />
          </th>
          <th class="px-6 py-4">{{ country.name.common }}</th>
          <th class="px-6 py-4">{{ country.population | number }}</th>
          <th class="px-6 py-4">
            <a href="#" class="text-blue-700">Ver mas</a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
